<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @party.date %>
</p>

<p>
  <strong>Name:</strong>
  <%= @party.name %>
</p>

<p>
  <strong>Main company:</strong>
  <%= @party.main_company_id %>
</p>

<p>
  <strong>Secondary company:</strong>
  <%= @party.secondary_company_id %>
</p>

<p>
  <strong>Connector:</strong>
  <%= @party.connector %>
</p>

<p>
  <strong>Biller:</strong>
  <%= @party.biller %>
</p>

<p>
  <strong>Arrive:</strong>
  <%= @party.arrive %>
</p>

<p>
  <strong>Leave:</strong>
  <%= @party.leave %>
</p>

<p>
  <strong>Arriveactial:</strong>
  <%= @party.arriveActial %>
</p>

<p>
  <strong>Leaveactial:</strong>
  <%= @party.leaveActial %>
</p>

<p>
  <strong>Fullticket:</strong>
  <%= @party.fullTicket %>
</p>

<p>
  <strong>Halfticket:</strong>
  <%= @party.halfTicket %>
</p>

<p>
  <strong>Fullticketg:</strong>
  <%= @party.fullTicketG %>
</p>

<p>
  <strong>Halfticketg:</strong>
  <%= @party.halfTicketG %>
</p>

<p>
  <strong>Fullticketfree:</strong>
  <%= @party.fullTicketFree %>
</p>

<p>
  <strong>Halfticketfree:</strong>
  <%= @party.halfTicketFree %>
</p>

<p>
  <strong>Fullticketgfree:</strong>
  <%= @party.fullTicketGFree %>
</p>

<p>
  <strong>Halfticketgfree:</strong>
  <%= @party.halfTicketGFree %>
</p>

<p>
  <strong>Fullticketdiy:</strong>
  <%= @party.fullTicketDIY %>
</p>

<p>
  <strong>Halfticketdiy:</strong>
  <%= @party.halfTicketDIY %>
</p>

<p>
  <strong>Totalticketpeople:</strong>
  <%= @party.totalTicketPeople %>
</p>

<p>
  <strong>Totalpeople:</strong>
  <%= @party.totalPeople %>
</p>

<p>
  <strong>Bigbus:</strong>
  <%= @party.bigBus %>
</p>

<p>
  <strong>Middlebus:</strong>
  <%= @party.middleBus %>
</p>

<p>
  <strong>Selfdrive:</strong>
  <%= @party.selfDrive %>
</p>

<p>
  <strong>Paytotal:</strong>
  <%= @party.payTotal %>
</p>

<p>
  <strong>Paytype:</strong>
  <%= @party.payType %>
</p>

<p>
  <strong>Payman:</strong>
  <%= @party.payMan %>
</p>

<p>
  <strong>Specialsale:</strong>
  <%= @party.specialSale %>
</p>

<p>
  <strong>Project:</strong>
  <%= @party.project %>
</p>

<p>
  <strong>Commission:</strong>
  <%= @party.commission %>
</p>

<p>
  <strong>Commissionagent:</strong>
  <%= @party.commissionAgent %>
</p>

<p>
  <strong>Commissionamount:</strong>
  <%= @party.commissionAmount %>
</p>

<p>
  <strong>Ishandreceipt:</strong>
  <%= @party.isHandReceipt %>
</p>

<p>
  <strong>Isgetticket:</strong>
  <%= @party.isGetTicket %>
</p>

<p>
  <strong>Ispaid:</strong>
  <%= @party.isPaid %>
</p>

<p>
  <strong>Isgetcommission:</strong>
  <%= @party.isGetCommission %>
</p>

<p>
  <strong>Mealallowancetotal:</strong>
  <%= @party.mealAllowanceTotal %>
</p>

<p>
  <strong>Meal:</strong>
  <%= @party.meal %>
</p>

<p>
  <strong>Reservedate:</strong>
  <%= @party.reserveDate %>
</p>

<p>
  <strong>Memo:</strong>
  <%= @party.memo %>
</p>

<p>
  <strong>Entranceemp:</strong>
  <%= @party.entranceEmp_id %>
</p>

<p>
  <strong>Recordemp:</strong>
  <%= @party.recordEmp_id %>
</p>

<p>
  <strong>Modifyemp:</strong>
  <%= @party.modifyEmp_id %>
</p>

<p>
  <strong>Guide:</strong>
  <%= @party.guide %>
</p>

<p>
  <strong>Country:</strong>
  <%= @party.country %>
</p>

<%= link_to 'Edit', edit_party_path(@party) %> |
<%= link_to 'Back', parties_path %>
